<h2>Appointments</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Patient</th>
    <th>Animal</th>
    <th>Owner</th>
    <th>Date</th>
    <th>Duration</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let a of appointments">
    <td>{{ a.id }}</td>
    <td>{{ a.patientName }}</td>
    <td>{{ a.animalType }}</td>
    <td>{{ a.ownerName }} {{ a.ownerSurname }}</td>
    <td>{{ a.date }}</td>
    <td>{{ a.duration }}</td>
    <td>
      <button [routerLink]="['/appointments/view', a.id]">View</button>
      <button [routerLink]="['/appointments/update', a.id]">Edit</button>
    </td>
  </tr>
</table>
